.main {
  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    padding-block: var(--space-6);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    @media (--for-tablet-landscape-up) {
      font-size: var(--font-size-5);
    }
  }

  &__heading {
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    font-size: var(--font-size-6);

    @media (--for-tablet-landscape-up) {
      font-size: var(--font-size-7);
    }
  }

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__btn {
    transition: var(--time-1) ease-in-out;
    transition-property: background-color;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-level-1);
    background-color: var(--primary-btn-bg);
    padding: var(--space-3);
    color: var(--primary-btn-fg);

    &:hover,
    &:focus {
      background-color: var(--primary-btn-hover-bg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    align-items: center;
  }

  &__subtitle {
    margin-top: var(--space-4);
    text-align: center;
  }

  &__media {
    max-width: var(--space-10);
  }
}
