CONNECTION_STRING=postgresql://user:password@host:port/db_name
admin_password=<admin_password>
DB_ENV=dev
AIVEN_PROJECT_NAME=
AIVEN_SERVICE_NAME=
AIVEN_DB_NAME=
AIVEN_TOKEN=
DB_SSL_CA="-----BEGIN CERTIFICATE-----
wubbalubbadubdub
-----END CERTIFICATE-----"