.root__body {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-y: scroll;
}

.page__container {
  margin: 0 auto;
  padding: 1em 0;
  width: 80%;
  max-width: 1400px;
}

.nav__list {
  padding: 0;
  list-style: none;
}

.link:hover {
  opacity: 0.8;
}

.link:active {
  opacity: 0.6;
}

.main {
  flex: 1;
}

.main__heading {
  padding-bottom: 0.5em;
}

.link-btn {
  display: inline-block;
  margin-bottom: 0.5em;
  background-color: black;
  padding: 0.5em;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: start;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: start;
}

.form__field--col {
  flex-direction: row;
}

.main__link-delete {
  background-color: rgb(228 14 14);
  color: white;
}

.pre {
  max-width: 100%;
  min-height: 2em;
  overflow: auto;
  scrollbar-gutter: stable;
  font-family: 'Courier New', Courier, monospace;
}
