.root__body {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-y: scroll;
}

.page__container {
  margin: 0 auto;
  padding: 1em 0;
  width: 80%;
  max-width: 1400px;
}

.nav__list {
  padding: 0;
  list-style: none;
}

.link:hover {
  opacity: 0.8;
}

.link:active {
  opacity: 0.6;
}

.main {
  flex: 1;
}

.main__heading {
  padding-bottom: 0.5em;
}

.link-btn {
  display: inline-block;
  margin-bottom: 0.5em;
  background-color: hsl(0deg 0% 0%);
  padding: 0.5em;
  color: hsl(0deg 0% 100%);
}

.page__form {
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 500px;
}

.textarea {
  resize: vertical;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form__field--col {
  flex-direction: row;
}

.main__link-delete {
  background-color: hsl(0deg 88% 47%);
  color: hsl(0deg 0% 100%);
}

.pre {
  max-width: 100%;
  min-height: 2em;
  overflow: auto;
  scrollbar-gutter: stable;
  font-family: 'Courier New', Courier, monospace;
}

.multiline-text {
  white-space: pre-line;
}

.img-container {
  border-radius: 50%;
  box-shadow: inset 0 1px 1px hsl(0deg 0% 0% / 56.2%);
  aspect-ratio: 1;
  width: 3rem;
  overflow: hidden;
}

.img {
  display: block;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  font-style: italic;
  object-fit: contain;
  object-position: center;
}
